ujson
fastapi
pydantic
email_validator
aiofiles
uvicorn
jinja2
pyyaml
python-multipart
requests
graphene
glQiwiApi
starlette
asyncpg
loguru
environs
uvloop
git+https://github.com/ageekinside/fastapi-jinja